@page
@model PrivacyModel
@{
    ViewData["Title"] = "Наша история";
}
<h1>@ViewData["Title"]</h1>
<div class="restaurant">        
       История ресторана <br/>
</div>
<h2>DZ4</h2>
<ol style="background-color:aqua">
            <li>Ресторан 1</li>
            <li>Ресторан 2</li>
            <li>Ресторан 2</li>
            <li>Ресторан 3</li>
</ol>
